.welcome-page {
  box-sizing: border-box; /* Include padding in the total width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 100px auto; /* Center the card */
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0.75em 1.25em #0004;
}

h2.welcome-page__title {
  text-align: center;
  margin: 0 auto;
}

button {
  padding: 0.75rem 0.25rem;
  margin: 10px auto;
  width: 50%;
  height: 100px;
}

@media screen and (max-width: 600px) {
  /* For screens smaller than 600px, make the card take up most of the screen */
  .welcome-page {
    max-width: 90%;
    padding: 10px; /* Decrease padding for smaller screens */
  }
}
